/* 標題 */
h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}
h2 span{
    font-size: 22px;
}
.paragraph-first{
    display: flex;
    width: 100%;
    background-color: #F1E8DD;
    justify-content: center;
}
.aboutus-info{
    display: flex;
    max-width: 1200px;
    justify-content: space-between
}
.aboutus-info p{
    letter-spacing: 3px;
    line-height: 30px;
}
.pic-heart{
    position: relative;
    left: 460px;
    top: -20px;
}
 .aboutus-pic img{
    border-radius: 5px;
}
/* 第二段 */
.about-us{
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    padding-top: 100px;
}

.aboutus-photo img{
    margin-left: 250px;
    box-shadow: -10px 15px 0 5px rgb(213, 213, 213,0.5);
}
.aboutus-card img{
    margin-left: 55px;
    margin-top: -20px;
    box-shadow: -10px 15px 0 5px rgb(213, 213, 213,0.5);
}
.pic-flower img{
    margin-left: 400px;
    transform:rotate(-15deg);
}
/* 第三段 */
.aboutus-text,.aboutus-txt{
    letter-spacing: 3px;
    line-height: 30px;
}
.icon-fb{
    margin-left: 160px;
    margin-top: 140px;
    transform:rotate(15deg);
}
.icon-ig{
    margin-left: 400px;
    margin-top: -200px;
    transform:rotate(-5deg);
}
.icon-fb img:hover{
    transform:rotate(15deg);
}
.icon-ig img:hover{
    transform:rotate(15deg);
}



@media screen and (max-width:767px) {
    .aboutus-info{
        flex-direction: column-reverse;
    }
    .aboutus-pic{
        margin: 30px 20px 0px 20px;
    }
    .aboutus-pic img{
        width: 100%;
        /* object-position: left; */
    }
    .pic-heart,.paragraph-second,.icon-fb,.icon-ig{
        display: none;
    }
    .aboutus-content p{
        margin: 20px;
    }
    .forrwd{
        display: flex;
        flex-direction: column-reverse;
        margin: 30px 20px 0px 20px;
    }
    .aboutus-img img{           
        width: 100%;
    }
    .aboutus-txt{
        margin: 30px 20px 0px 20px;
    }
    .paragraph-third{
        margin-top: -50px;
    }
}
@media screen and (min-width:768px){
    .aboutus-pic {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .aboutus-content p{
        max-width: 480px;
        margin-top: 90px;
        margin-right: 50px;
    }
    .aboutus-text,.aboutus-txt{
        max-width: 500px;
        /* box-sizing: border-box;  */
        padding: 20px;
        padding-right: 120px;
    }
    .aboutus-img img{           
        box-shadow: 15px 15px rgb(213, 213, 213,0.5);
        margin-left: 120px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    /* 動畫效果 */

    .paragraph-first{
        opacity: 0; /* 初始狀態隱藏 */
        transform: translateX(-100px); /* 初始位置在左邊 */
        transition: opacity 0.8s ease, transform 0.8s ease; /* 使用動畫效果 */
    }
    .paragraph-second,
    .paragraph-third {
        opacity: 0; /* 初始狀態隱藏 */
        transform: translateX(100px); /* 初始位置在右邊 */
        transition: opacity 0.8s ease, transform 0.8s ease; /* 使用動畫效果 */
    }
    
    .paragraph-first.reverse{
        transform: translateX(100px); /* 初始位置在右邊 */
    }
    
    .paragraph-second.reverse,
    .paragraph-third.reverse {
        transform: translateX(-100px); /* 初始位置在左邊邊 */
    }
    
}
  