*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
   
}
 /* 導覽列 */
 #menu-control{
    position: absolute;
    display: none;
 }
.header{
   position: fixed;
   width: 100%;
   background-color: white;
   top: 0;
   left: 0;
   z-index: 2;    
}
.icon-container{
    padding: 5px;
    margin-top: 10px;
    /* margin: auto; */
}
.icon-container .icon a{
    color: #9B866A;
    font-size: 20px;
    letter-spacing: 10px;
}
.main-header{
    display: flex;
    max-width: 1200px;
    align-items: center;
    margin: auto;
    margin-top:-50px;
}
nav{
    display: flex;
    background-color: #F2E9DE;
    padding: 10px;
    width: 1053px;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    color: #9B866A;
    margin-left: 30px;
}
nav a:hover{
    color: #5c5b5b;
    font-style: oblique;
}
.main-header .logo{
    width: 145px;
    margin-right: -50px;
    z-index: 1;
}
.logo img{
    width: 100%;
    vertical-align: middle;
}
/* 下方icon點選 */
.service-icon{
    display: flex;
    /* width: 1200px; */
    height: 100px;
    margin: auto;
    margin-top: 100px;
}
.service-icon .icon-user,.icon-checklist,.icon-delivery,.icon-clothes,.icon-message{
    width: 25%;
    box-sizing: border-box;
    padding: 15px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.service-icon .icon-user a,.icon-checklist a,.icon-delivery a,.icon-clothes a,.icon-message a{
    text-decoration: none;
    color:rgba(0,0,0,0.7);
    padding: 5px;
    font-size: 25px;
}
.icon-user{
   background-color: #9B866A;
}
.icon-checklist{
    background-color: #B99D77;
}
.icon-delivery{
    background-color: #D8B594;
}
.icon-clothes{
    background-color: #DAC8B6;
}
.icon-message{
    background-color: #F1E8DD;
}
/* 頁尾 */
.main-footer{
    background-color: #E6D6C7;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.footer{
    max-width: 1200px;
    display: flex;
    margin-top: 30px;
}
.footer .footer-block{
    display: flex;   
    text-align: center;
    text-decoration: none;
    color: #9B866A;
    line-height: 30px;
    justify-content:space-between;
    font-size: 14px;
}
h4{
    color: #7D7D7D;
}
.footer-block .footer-list{
    display: flex;
    flex-direction: column;
}
.footer-list a{
    text-decoration: none;
    color: #9B866A;
}
.footer-icon a{
    color: #9B866A;
    letter-spacing: 8px;
    font-size: 20px;
}
.footer-icon{
    margin-left: 500px;
}
.footer-notic{
    color:#7D7D7D;
    margin-top: 70px;
    margin-left: 30px;
    font-size: 14px;
}
/* 往上按鈕 */
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 30px; 
    right: 30px; 
    background:none;
    cursor: pointer; 
    border: none;
  }
  #myBtn:hover {
    opacity:0.8; 
  }
  /* --------導覽列-------- */
  @media screen and (max-width:767px) {
    .header{
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        border-bottom: 1px solid #9B866A;
        z-index: 999;
    }
    body{
        padding-top: 50px;
    }
    .logo img{
        width: 60px;
        height: 60px;
    }
    .logo img{
        vertical-align: top;
    }
    .menu-btn{
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        top: 3px;
        right: 3px;
        cursor: pointer;
    }
    .menu-btn::before{
        content: '';
        position: absolute;
        height: 3px;
        left: 2px;
        width: 25px;
        background-color: #9B866A;
        top: 0;
        bottom: 0;
        margin: auto;
        box-shadow: 0px 8px 0px #9B866A,0px -8px 0px #9B866A;
    }
    nav{
        width: 70%;
        height:100vh;
        background-color: #F2E9DE;
        position: absolute;
        top: 50px;
        left: -100%;
        display:block;
        transition: .5s;
    }
    nav a{
        display: block;
        box-sizing: border-box;
        padding: 10px 20px;
        border-bottom: 1px solid #9B866A;
    }
    #menu-control:checked ~ .header nav{
        left:0;
    }
    .icon-container{
        display: flex;
        justify-content: flex-end;
        margin-right: 40px;
        margin-top: 3px;
    }
    /* -------頁尾----------- */
    .service-icon .icon-user,.icon-checklist,.icon-delivery,.icon-clothes,.icon-message{
        font-size: 12px;
    }
    .footer{
        flex-direction: column;
    }
    .footer .footer-block{
        flex-direction: column;
    }
    .footer-icon{
        margin: auto;
        text-align: center;
        margin-top: 10px;
    }
    .footer-notic{
        width: 300px;
        margin: auto;
        text-align: center;
        margin-top: 30px;
    } 
    .footer .footer-block{
        max-width: 400px;     
    }
}
@media screen and (min-width:768px){
    body{
        padding-top: 200px;
    }
    nav{
        border-radius: 0 100px 100px 0;
    }
    .icon-container{
    display: flex;
    max-width: 1100px;
    justify-content: flex-end;
    margin: auto;
    }
    .footer .footer-block{
        width: 400px;     
    }
   
}