/* 嬰兒 */
h2{
    text-align: center;
    padding: 20px;
}
h2 span{
    font-size: 22px;
}
.product-item{
    display: flex;
    width: 1200px;
    margin: auto;
}
.nav-item {
    display: inline-block;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #9B866A;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .nav-item:hover{
    transform:scale(1.2,1.2);
  }
  
  .nav-item:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 1px;
    width: 0;
    background-color: #9B866A;
    transition: width 0.3s;
  }
  
  .nav-item:hover:before {
    width: 100%;
    transform:scale(1.2,1.2);
  }

/* 產品列 */
.product-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-box .next-page{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.baby-product{
    display: grid;
    width: 1200px;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
}
.product-info {
    margin: auto;
    padding-top: 25px;
}
.product-info .product-pic{
    background-color: #F1E8DD;
    padding: 12px;
}
.product-info img{
    width: 220px;
    height: 220px;
}
.product-info .product-text{
    margin: 5px;
    text-align: center;
    font-size: 14px;
}
 /* 碰到圖片放大 */
 .product-pic{
    overflow: hidden;
}
.product-pic img{
    transform:scale(1,1);
    transition: all 0.8s ease-out;
}
.product-pic img:hover{
    transform:scale(1.2,1.2);
}
/* 數量&加入購物車 */
.product-info .quantity{
    display: flex;
    width: 100px;
    /* height:25px; */
    margin: auto;
    justify-content: space-around;
    /* border: 1px solid #9B866A; */
    /* border-radius: 5px; */
    font-size: 14px;
    /* cursor: pointer;  */
}
.quantity .minus,.plus{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 14px;
    color: #9B866A;
    cursor: pointer;
    /* border: 1px solid #9B866A; */

}
.quantity span{
    color: #A0A0A0;
    /* border: 1px solid #A0A0A0; */
    /* width: 100px; */
}
.shopping-car{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.shopping-car .car{
    border-color: #9B866A;;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    color: #9B866A;
    font-size: 14px;
    /* cursor: pointer; */
}
.quantity button:hover{
    color:white;
    background-color: #9B866A;
}
.shopping-car button:hover{
    color:white;
    background-color: #9B866A;
}
 
/* 頁數 */
.next-page{
    display: flex;
    width: 1200px;
}
.next-page a{
    text-decoration: none;
    color: #9B866A;
    letter-spacing: 8px;
    font-size: 14px;
}