/* 結帳順序 */
.list{
    display: flex;
    justify-content: center;
    margin: auto;
    width:1200px;

    }
.list .now{
    background-color: #9B866A;
    color: white;
}
.list li{
    display: flex;
    flex-direction: column;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid #9B866A;
    /* background-color: aqua; */
    color: #9B866A;
   justify-content: center;
    text-align: center;
    position: relative;
    
    }

.list li + li{
    margin-left: 200px;
}
.list li + li::before{
    content:'';
    position: absolute;
    width: 200px;
    height: 5px;
    background-color:#9B866A ;
    top: 0;
    bottom: 0;  
    margin: auto;
    left: -200px;
}
.box{
    width: 1200px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.box .text{
    display: flex;
    justify-content: center;
    /* margin: auto; */
   
}
.box span{
    width: 56px;
    text-align: center;
    padding-top: 20px;
    
    font-size: 14px;
}
.text span+span{
    margin-left: 200px;
}
/* 購物車結帳資訊----商品明細 */
.cart-info{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: auto;
    padding-top: 35px;
}
h2{
    border-left: 8px solid #9B866A;
    padding-left: 5px;
}
.cart-info-nav{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #9B866A;
    padding: 10px;
}
.product-list{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.product-list .product-name{
    flex-grow: 1;
    width: 200px;
    padding: 5px;
}
.product-price{
    flex-grow: 1.3;
}
.product-quantity{
    flex-grow: 1.2;
}
.product-cost{
    flex-grow: 0.6;
}
.product-name .size{
    font-size: 14px;
}
.product-quantity button{
    width: 20px;
    border: none;
    background-color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor:pointer;
}
.product-quantity .input-num{
    width: 50px;
    text-align: center;
    border: none;   
}
.delete{
    cursor:pointer;
}
/*送貨及付款方式 */
.summary{
    display: flex;
    width: 1200px;
    margin: auto;
    justify-content: space-between;
    padding-top: 80px;
    
}
h3{
    width: 420px;
    border-bottom: 1px solid #9B866A;
    padding-bottom: 5px;
}
.delivery-method p,.order-information p{
    padding-top: 20px;
}
.delivery-method .method,.payment,input{
    border-radius: 5px;
}
.delivery-method .method{
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 2px ;
}
.delivery-method .payment{
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 2px ;
}
.subtotal,.freight,.total{
    display: flex;
    justify-content: space-between;
}
.order-information .discount{
    font-size: 12px;
    letter-spacing: 1px;
}
.order-information button{
    font-size: 12px;
    padding: 2px;
    border-radius: 5px;
    width: 50px;
    background-color:#E6D6C7;
    border: 1px solid #E6D6C7    
}
.order-information .coupon{
    padding-bottom: 80px;
}
.order-information .total{
    border-top: 1px solid #9B866A;
    color: #9B866A;
    font-weight: bolder;
}
.order-information .checkout{
    padding-top: 50px;
    text-align: center;
}
.order-information .checkout a{
    border: 1px solid #9B866A;
    border-radius: 5px;
    text-decoration: none;
    color:white;
    background-color: #9B866A;
    padding: 5px 40px 5px 40px;
    font-size: 18px;
}
.order-information input{
    letter-spacing: 2px;
    padding-left: 5px;
}
/* 訂購須知 */
.notice{
    display: flex;
    width: 1200px;
    flex-direction: column;
    padding-top: 100px;
    margin: auto;
}
.order-notice{
    font-size: 16px;
    border-bottom:1px solid #9B866A;
}
.notice ul,.notice p{
    padding-top: 10px;
    font-size: 14px;
}
 