*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
}
/* 導覽列 */
.header{
    background-image: url(../pic/bcg-img-02.png);
    background-size: cover;
    /* width: 1200px; */
    height: 730px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.icon-container{
    display: flex;
    width: 1200px;
    justify-content: flex-end;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
}
.icon-container .icon a{
    color: #9B866A;
    font-size: 20px;
    letter-spacing: 10px;
}
.main-header{
    display: flex;
    width: 1200px;
    align-items: center;
    margin: auto;
    margin-top:-60px;
}
.main-header .main-nav{
    display: flex;
    background-color: #F2E9DE;
    padding: 10px;
    width: 1053px;
    border-radius: 0 100px 100px 0;
    justify-content: space-around;
    
    
}
.main-header .main-nav a{
    text-decoration: none;
    color: #9B866A;
    margin-left: 30px;
}
.main-header .main-nav a:hover{
    color: #5c5b5b;
    font-style: oblique;
}
.main-header .logo{
    width: 145px;
    margin-right: -50px;
    z-index: 1;
}
.logo img{
    width: 100%;
    vertical-align: middle;
}
/* 下方icon點選 */
.service-icon{
    display: flex;
    /* width: 1200px; */
    height: 100px;
    margin: auto;
    margin-top:80px;
}
.service-icon .icon-user,.icon-checklist,.icon-delivery,.icon-clothes,.icon-message{
    width: 25%;
    box-sizing: border-box;
    padding: 15px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.service-icon .icon-user a,.icon-checklist a,.icon-delivery a,.icon-clothes a,.icon-message a{
    text-decoration: none;
    color:rgba(0,0,0,0.7);
    padding: 5px;
    font-size: 25px;
}
.icon-user{
   background-color: #9B866A;
}
.icon-checklist{
    background-color: #B99D77;
}
.icon-delivery{
    background-color: #D8B594;
}
.icon-clothes{
    background-color: #DAC8B6;
}
.icon-message{
    background-color: #F1E8DD;
}
/* 頁尾 */
.main-footer{
    background-color: #E6D6C7;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.footer{
    max-width: 1200px;
    display: flex;
    margin-top: 30px;
}
.footer .footer-block{
    display: flex;
    width: 400px;     
    text-align: center;
    text-decoration: none;
    color: #9B866A;
    line-height: 30px;
    justify-content:space-between;
    font-size: 14px;
}
h4{
    color: #7D7D7D;
}
.footer-block .footer-list{
    display: flex;
    flex-direction: column;
}
.footer-list a{
    text-decoration: none;
    color: #9B866A;
}
.footer-icon a{
    color: #9B866A;
    letter-spacing: 8px;
    font-size: 20px;
}
.footer-icon{
    margin-left: 500px;
}
.footer-notic{
    color:#7D7D7D;
    margin-top: 70px;
    margin-left: 30px;
    font-size: 14px;
}
/* 往上按鈕 */
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 30px; 
    right: 30px; 
    background:none;
    
    cursor: pointer; 
    border: none;
  }
  #myBtn:hover {
    opacity:0.8; 
  }
  @media screen and (max-width:767px) {
    .socialmedia-login{
        flex-direction: column;
        align-items: center;
    }
    .fb-login{
        margin-top: 20px;
    }
    .service-icon .icon-user,.icon-checklist,.icon-delivery,.icon-clothes,.icon-message{
        font-size: 12px;
    }
    .footer{
        flex-direction: column;
    }
    .footer .footer-block{
        flex-direction: column;
    }
    .footer-icon{
        margin-left: 160px;
        margin-top: 10px;
    }
    .footer-notic{
        width: 300px;
        margin-left: 50px; 
        text-align: center;
        margin-top: 30px;
        
    } 
}